/*/*TODO: deze css wegcommenten en alleen met global.css proberen op te lossen*/


.sections-container {
  border: 1px solid red;

  display: flex;
  flex-direction: row;
  max-width: 1400px;
  flex-grow: 1;

  justify-content: space-between;

  /*column-gap: 30px;*/
}



/*Movie search*/


.title-and-infobutton-line {
  display: flex;
  justify-content: center;

}

/*Shortlist*/

.shortlist-outer-container {
  border: 3px solid green;
  display: flex;
  width: 464px;
  flex-shrink: 0;
}

.shortlist-movies-container {
  /*border: 1px solid var(--med-yellow);*/
  padding: 10px;

  background-color: var(--med-blue);

  border-radius: 0.5em;

  display: flex;
  flex-direction: column;

  height: 310px;
  width: 100%;
  overflow: auto;
}

/*Movie Selection*/
.movie-selection {
  margin-top: 30px;
  text-align: center
}



