* {
  box-sizing: border-box;
}

main {
  /*border: 1px solid var(--med-yellow);*/

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.login-title {
  /*border: 1px solid black;*/

  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

form {
  /*border: 1px solid var(--med-yellow);*/

  display: flex;
  flex-direction: column;
}

.section-input-line {
  /*border: 1px solid var(--med-yellow);*/

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3em;

  caret-color: white;
}

.section-input-field {
  border: none; /* Remove the default border */
  outline: none; /* Remove the default outline on focus */
  background-color: transparent; /* Set the background color to transparent */
  border-bottom: 1px solid white; /* Set the bottom border style */
  width: 13em; /* Set the width of the input */
  color: white;
}

.login-button {
  display: flex;
  align-self: center;

  border: none;
  border-radius: 2em;
  background-color: var(--med-blue);
  padding: 1.5em;
  color: white;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
  cursor: pointer;
}

.signup-line {
  /*border: 1px solid var(--med-yellow);*/
}







