
body {
  background-color: black;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: var(--white);

  font-family: 'Verdana', 'Tahoma', sans-serif;
}

:root {
  --dark-blue: #0C1B33;
  --dark-purple: #8F2D56;
  --med-blue: #778DA9;
  --med-yellow: #F4D58D;
  --light-yellow: #FDF0D5;

  --dark-black: #000000;
  --white: #FFFFFF;

}

.all-content {
  /*border: 1px solid red;*/
  background-color: black;

}

main {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 1;
  background-color: var(--dark-blue);
  align-items: center;

  padding: 30px;
}

a {
  color: var(--white)
}

/*  SECTIONS  */

.main-container {
  /*border: 1px solid red;*/
  background-color: var(--dark-blue);

  display: flex;
  flex-direction: column;

  flex-basis: auto;
  flex-grow: 1;

  align-items: center;
  padding-top: 50px;
}

.sections-container {
  /*border: 1px solid red;*/

  display: flex;
  flex-direction: row;
  flex-basis: auto;
  width: 100%;

  column-gap: 40px;

  justify-content: space-between;
}

.section-container {
  background-color: var(--dark-purple);

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;

  padding: 30px;
  box-shadow: 0 0 2em hsl(214, 53%, 2%);
  border-radius: 3em;

  align-items: center;
}

.section-form {
  /*border: 1px solid var(--med-yellow);*/

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-bottom: 1.5em;
}

.section-input-line {
  /*border: 1px solid var(--med-yellow);*/

  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  caret-color: white;
  margin-top: 1em;
}

.section-input-field {
  /*border: 1px solid var(--med-yellow);*/

  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  width: 13em;
  color: white;
}

.section-input-field::placeholder {
  color: lightgrey;
}

/* POPUP */

.popup-parent {
  position: relative;
}

/*  ERRORS  */

.error-message {
  font-style: italic;
  font-size: smaller;
}

/*  Tablets  */

@media screen and (min-width: 768px) {
  p {
    font-size: 14px
  }
}


@media screen and (min-width: 992px) {
  p {
    font-size: 16px;
  }
}