

.movie-search-explain-container {

  border-radius: 50%;
  font-style: italic;
  font-size: larger;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #778DA9;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  font-size: medium;
  margin-left: 0.5em;
  box-shadow: 3px 3px 5px hsl(327, 50%, 30%);
}

.movie-search-explain {

  visibility: hidden;
  background-color: var(--med-yellow);
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;

  width: 400px;
  font-size: smaller;

}

.movie-search-explain-container:hover .movie-search-explain {
  border: 1px solid red;


  visibility: visible;
  opacity: 1;
}
