.wheel-outer-container {
    /*border: 1px solid var(--med-yellow);*/

    display: flex;
    justify-content: center;

    width: 100%
}

.wheel-inner-container {
    /*border: 1px solid var(--med-yellow);*/

    display: flex;
    flex-direction: column;
    align-items: center;
}

.wheel-box {
    /*border: 1px solid red;*/

    display: flex;
    width: 600px;
    height: 600px;

    overflow: hidden;
}

